* {
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 10px;
    padding: 20px;
}

h1 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 175%;
}


@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 33%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 , .col-md-12 {
        float: left;

    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
    }
}

@media (max-width :767px) {

}

.container {
    background-color: rgb(240, 198, 136);
    border: 1px solid black;
    margin: 15px;
    padding: 20px;
    position: relative;
    
}

.section {
    font-size: 125%;
    position: absolute;
    border: 1px solid black;
    width: 150px;
    text-align: center;
    top: 0px;
    right: 0px;
    
}

.menu1 {
    background-color: rgb(238, 255, 0);
}
.menu2 {
    background-color: rgb(43, 255, 0);
}
.menu3 {
    background-color: rgb(109, 207, 231);
}

.text {
    margin-top: 30px;
}